*{
    margin: 0;
    padding: 0;
    background-color: yellow;
}

h1{
    color: rgb(255, 0, 0); 
    font-family: arial, sans-serif; 
    font-size: 500%;
}

h2{
    color: blue;
    font-size: 250%;
}

